body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    background-color: #2A4480;
    font-size: 25px;
}

.container{
    width: 900px;
    margin: 0px auto 0px auto;
}


li{
    color:white;
    width: 400px;
    margin-bottom: 30px;
}

li:hover{
    color: #1240AB;
    background: white;
}

h1:hover{
    color: #1240AB;
    background-color: white;
}

h1{
    color: white;
    margin-left: 70px;
    margin-top: 20px;
    width: 400px;
}

footer{
    background-color: #6C8CD5;
}

header{
    background-color: black;
    padding: 20px;
}

.link-header{
    margin-left: 200px;
    text-decoration: none;
    background-color: #1240AB;
    color: white;
    padding: 10px;
}

.link-header:hover{
    background-color: white;
    color: #1240AB;
}

.link-text b:hover{
    background-color: wheat;
}

.index_p:hover{
    background-color: white;
    color: blue;
}

.index_p{
    color: white;
}

.link-nav{
    color:white;
    text-decoration: none;
    padding: 3px;
    border: 2px solid white;
    margin-left: 20px;
}

nav{
    padding: 10px;
    background-color: #2A4480;
}

.h2{
    color: white;
}

div{
    color: white;
}

.link-text{
    color: #6C8CD5;
}
